.profile-container {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.btn-uplaod {
  background-color: white;
  color: #002f6d;
  border: 1px solid #002f6d;
}

label {
  font-weight: 600; 
  text-align: start ;
  font-family: Poppins;
  font-size: 15px 
}

input {
  border: 1px solid #DDDDDD !important;
  padding: 10px 10px !important;
}