<header class="header-container shadow-sm">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center text-decoration-none mx-4 logo-outside">
        <img src="assets/icons/logo.png" alt="Logo" class="header-logo me-2" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <a class="navbar-brand d-flex align-items-center text-decoration-none mx-4 image-inside">
          <img src="assets/icons/logo.png" alt="Logo" class="header-logo me-2" />
        </a>
        <div class="navbar-nav">
          <a routerLink='/home' class="btn btn-round px-4 mt-4 route-button"  [ngStyle]="{ 'color': isHome ? 'white' : '' }">Home</a>
          <a routerLink="/for-sale" class="btn btn-round px-4 mt-4 route-button" [ngStyle]="{ 'color': isHome ? 'white' : '' }">For Sale</a>
          <a routerLink='/agent' class="btn btn-round px-4 mt-4 route-button" [ngStyle]="{ 'color': isHome ? 'white' : '' }">Agent</a>
          <a  routerLink='/companies' class="btn btn-round px-4 mt-4 route-button" [ngStyle]="{ 'color': isHome ? 'white' : '' }">Companies</a>
          <a routerLink='/listed-properties' class="btn btn-round px-4 mt-4 route-button" [ngStyle]="{ 'color': isHome ? 'white' : '' }" >Properties</a>
          <a routerLink='/login' class="btn btn-round px-4 mt-4 route-button" [ngStyle]="{ 'color': isHome ? 'white' : '' }"> <i class="fa-regular fa-circle-user mx-1"></i>Login / Register</a>
        </div>
      </div>
    </div>
  </nav>
</header>