<header class="header-container shadow-sm">
  <div class="d-flex justify-content-center py-3">
    <div class="d-flex align-items-center gap-3">
      <a class="d-flex align-items-center text-decoration-none mx-4">
        <img src="assets/icons/logo.png" alt="Logo" class="header-logo me-2" />
      </a>
      <a class="btn btn-round px-4 mt-4">Home</a>
      <a class="btn btn-round px-4 mt-4">For Sale</a>
      <a class="btn btn-round px-4 mt-4">Agent</a>
      <a class="btn btn-round px-4 mt-4">Companies</a>
      <a class="btn btn-round px-4 mt-4">Properties</a>
      <a routerLink='/login' class="btn btn-round px-4 mt-4"> <i class="fa-regular fa-circle-user mx-1"></i>Login / Register</a>
    </div>
  </div>
</header>