<div class="footer-container text-white py-5">
   <div class=" scroll-to-top-button  rounded-circle d-flex justify-content-center align-items-center"
    style="width: 50px; height: 50px; border: 1px solid #002F6D; cursor: pointer;" (click)="scrollToTop()">
    <i class="fa-solid fa-arrow-up-long" style="color: #002F6D;"></i>
</div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center text-md-start mb-4">
        <div class="logo-section">
          <img src="assets/icons/footer.png" alt="Logo" class="footer-logo mb-3 w-75" />
          <div class="p-5">
            <p>Follow Us On Social Media</p>
            <div class="social-icons d-flex justify-content-center justify-content-md-start mx-4 gap-3">
              <a aria-label="Facebook" class="text-white"><i class="fa-brands fa-facebook"></i></a>
              <a aria-label="Twitter" class="text-white"><i class="fa-brands fa-twitter"></i></a>
              <a aria-label="Instagram" class="text-white"><i class="fa-brands fa-instagram"></i></a>
              <a aria-label="LinkedIn" class="text-white"><i class="fa-brands fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center text-md-start mb-4">
        <h5>Keep Yourself Up To Date</h5>
        <form class="d-flex gap-2">
          <input type="email" class="form-control" placeholder="Your Email"
            style="background-color: #002F6D; color: white;" />
          <button mat-raised-button color="primary" routerLink="/admin/dashboard" class="btn"
            style="background-color: #002F6D; color: white;">Subscribe</button>
        </form>
        <div>
          <div class="row">
            <div class="col-4 p-3">
              <h6 class="popular-search-title">Popular Search</h6>
              <ul class="list-unstyled">
                <li>Apartment Low to Hide</li>
                <li>Offices for Buy</li>
              </ul>
            </div>
            <div class="col-4 p-3">
              <h6 class="popular-search-title">Quick Links</h6>
              <ul class="list-unstyled">
                <li routerLink='/home'>Home</li>
                <li routerLink='/for-sale'>For Sale</li>
                <li routerLink='/agent'>Agent</li>
                <li routerLink="/companies">Companies</li>
                <li routerLink='/listed-properties'>Listed Properties</li>
              </ul>
            </div>
            <div class="col-4 p-3">
              <h6 class="popular-search-title">Other Links</h6>
              <ul class="list-unstyled">
                <li routerLink="/about">About Us</li>
                <li routerLink="/contact">Contact Us</li>
                <li routerLink='/fAQ'>FAQ's</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <hr class="horizontal-line">
        <p class="mb-0 Privacy">Privacy &middot; Terms &middot; Sitemap</p>
      </div>
    </div>
  </div>
</div>