.footer-container {
  background: #002F6D !important;
}

.popular-search-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22.5px;
}

ul li {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: #BEBDBD;
}

ul li:hover {
  color: #ffffff;
}

.horizontal-line {
  border: 0;
  border-top: 1px solid #BEBDBD;
  margin-bottom: 10px;
}

.Privacy {
  color: #BEBDBD;
}