.compare-properties {
  position: absolute;
  color: white;
  top: 20%;
  left: 18%;
}

.scroll-container {
  overflow-x: auto !important;
  white-space: nowrap !important;
}

.card-img-container {
  width: 200px !important;
  height: 180px !important;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: contain;
}

.card-body-apartment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.d-flex {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
}

.table-container {
  flex: 1;
  min-width: 300px;
  width: 100%;
}

.table-responsive {
  overflow-x: auto !important;
}

@media (max-width: 1200px) {
  .table-container {
    width: 70%;
  }
}

@media (max-width: 768px) {

  .table-card {
    display: block !important;
  }

  .table-container {
    width: 100%;
  }

  .contact-detail {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .p-4 {
    display: block !important;
  }
  .contact {
    margin-bottom: 15px !important;
  }
}

.add-property {
  color: #002f6d;
  border: 1px solid #002f6d;
  background-color: transparent;
}
.add-property:hover {
  color: white;
  border: 1px solid #ffffff;
  background-color: #002f6d;
}
.add-icon {
  border: 1px solid #002f6d;
  color: #002f6d;
  width: 30px;
  height: 30px;
  margin-right: -22px;
}
.add-property:hover .add-icon {
  color: white;
  border-color: white;
}


.card-img-top {
  height: 210px !important;
  object-fit: cover;
}