<app-header></app-header>
<div style="background: #f7f7f7">
  <div class="compare-properties">
    <h1 class="fw-bold">Compare Properties</h1>
    <span>Home / Compare Properties</span>
  </div>
  <img
    src="assets/images/businessman-hold-house.png"
    class="img-fluid w-100"
    alt="Responsive image"
  />
  <div class="mt-3 d-flex justify-content-end me-5">
    <button
      class="btn add-property d-flex align-items-center justify-content-center"
      routerLink="/compare-properties"
    >
      <i
        class="add-icon fa-regular fa-plus d-flex align-items-center justify-content-center rounded-circle"
      ></i>
      Add Property
    </button>
  </div>
  <div
    class="p-5 d-flex justify-content-center main-card"
    style="overflow: hidden !important"
  >
    <app-side-bar (propertiesEmitted)="updateProperties($event)"></app-side-bar>
    <div class="mt-3 overflow-auto"  style="width: 70vw; white-space: nowrap;">
      <div class="d-flex table-card">
        <div >
          <div>
            <div class="card-img-container">
              <img
              [src]="selectedProperty.mainAttachment?.length ? selectedProperty.mainAttachment[0].fileUrl : 'assets/images/prop1.jpg' "             
              alt="{{ selectedProperty.name }}"
                class="card-img"
              />
            </div>
            <div class="mb-4 mt-2">
              <p class="card-title fw-bold">{{selectedProperty?.name }}</p>
              <p class="card-title fw-bold">{{selectedProperty?.price }}</p>
              <p class="card-text text-muted">{{ selectedProperty?.address }}, {{selectedProperty?.city}} ,{{selectedProperty?.country}}
              </p>
            </div>
          </div>
          <div class="table-container">
            <div class="table-responsive-xxl rounded">
              <table
                class="table table-hover text-center table-striped align-middle"
              >
                <thead>
                  <tr>
                    <th class="py-4 text-start">Property Type</th>
                    <th class="py-4 text-center">{{ getPropertyName(selectedProperty.propertyTypeId) }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of selctedPropertyTableData">
                    <th class="py-4 fw-bold text-start">{{ row.property }}</th>
                    <td>
                      <ng-container
                        *ngIf="
                          isBoolean(row.value);
                          else textContentApartment
                        "
                      >
                        <i
                          [ngClass]="{
                            'fas fa-check text-success': row.value,
                            'fa fa-times text-danger': !row.value
                          }"
                        ></i>
                      </ng-container>
                      <ng-template #textContentApartment>{{
                        row.value
                      }}</ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div *ngIf="showCard"  class="d-flex scroll-container mb-3">
          <ng-container *ngFor="let property of compareProperty; let i = index" >
          <div>
            <div>
              <div class="card-img-container">
                <img
                [src]="property.mainAttachment?.length ? property.mainAttachment[0].fileUrl : 'assets/images/prop1.jpg' "             
                alt="{{ property.name }}"
                  class="card-img-top img-fluid"
                    />
              </div>
              <div class="mb-4 mt-2">
                <p class="card-title fw-bold">{{property.name }}</p>
                <p class="card-title fw-bold">{{ property.price }}</p>
                <p class="card-text text-muted">{{ property.address }}, {{property.city}} ,{{property.country}}</p>
              </div>
            </div>
            <div class="table-container">
              <div class="table-responsive-xxl rounded">
                <table
                  class="table table-hover text-center table-striped align-middle"
                >
                  <thead>
                    <tr>
                      <th class="py-4 text-start">Property Type</th>
                      <th class="py-4 text-center">{{ getPropertyName(property.propertyTypeId) }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of property.tableData">
                      <th class="py-4 fw-bold text-start">{{ row.property }}</th>
                      <td>
                        <ng-container
                          *ngIf="
                            isBoolean(row.value);
                            else textContentApartment
                          "
                        >
                          <i
                            [ngClass]="{
                              'fas fa-check text-success': row.value,
                              'fa fa-times text-danger': !row.value
                            }"
                          ></i>
                        </ng-container>
                        <ng-template #textContentApartment>{{
                          row.value
                        }}</ng-template>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          </ng-container>
        </div>
      </div>
      <div class="container card rounded-4 shadow p-5 mb-5">
        <div class="d-flex justify-content-evenly contact-detail">
          <div>
            <h2 class="fw-bold">Need Help? Talk To Our Expert.</h2>
            <p class="gray">
              Talk to our experts or Browse through more properties.
            </p>
          </div>
          <div class="d-flex p-4">
            <button
              mat-stroked-button
              class="d-flex btn-shadow py-4 rounded-4 d-flex justify-content-center align-items-center mx-2 contact"
              routerLink="/contact"
              >
              <span class="me-3">Contact Us</span>
              <span>
                <img
                  src="assets/icons/right-up1.png"
                  alt="arrow"
                  style="width: 20px; height: 20px"
                />
              </span>
            </button>

            <button
              mat-raised-button
              color="primary"
              class="d-flex btn-shadow py-4 rounded-4 d-flex justify-content-center align-items-center"
              type="submit"
            >
              <i class="fa-solid fa-phone fa-lg mx-2"></i>
              <span>920 851 9187</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
