@media (max-width: 767px) {
  .home-btn {
    top: 15px;
    right: 15px;
  }

  .login-card {
    max-width: 90%;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .custom-header-text {
    font-size: 40px;
    text-align: center;
    margin-right: 0;
  }

  .col-lg-6 {
    display: none;
  }

  .col-sm-10 {
    width: 100%;
  }

  .row {
    justify-content: center;
  }

  .home-btn {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
