.compare-properties {
  position: absolute;
  color: white;
  top: 20%;
  left: 18%;
}

.card-img-container {
  width: 200px !important;
  height: 180px !important;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: contain;
}

.card-body-apartment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.properties-card {
  border-radius: 10px;
  border: none !important;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.check-icon {
  top: 10px;
  right: 10px;
}