img.img-thumbnail {
    width: 100% !important;
    height: auto;
}


.dashed-border {
    border: 2px dashed #ccc !important;
    border-radius: 8px;
}

.img-thumbnail {
    height: 125px !important;
    object-fit: cover !important;
    background-color: white !important;
    border: none !important;
    border-radius: 10px !important;
}

button.btn-danger {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-weight: 600; 
    text-align: start ;
    font-family: Poppins;
    font-size: 15px 
  }
  
input {
    border: 1px solid #DDDDDD !important;
    padding: 10px 10px !important;
  }

.form-select {
    border: 1px solid #DDDDDD !important;
    padding: 10px 10px !important;  
}