<div
  class="container-fluid login d-flex align-items-center justify-content-center"
>
  <a
    class="home-btn d-flex align-items-center d-md-inline-block"
    routerLink="/home"
  >
    <i class="fas fa-home me-2"></i> Home
  </a>
  <div class="row w-100 align-items-center justify-content-center px-3">
    <div
      class="col-lg-4 col-md-6 col-sm-10 bg-white text-dark rounded-2 shadow-lg login-card"
    >
      <div class="text-center mb-2">
        <img src="assets/icons/logo.png" alt="Logo" height="50" />
      </div>
      <h5 class="text-center fw-bold text-weight-800"  routerLink="/admin">Sign in</h5>
      <p class="text-muted text-center">
        Sign in with your account to continue.
      </p>
      <form (ngSubmit)="onLogin()">
        <div class="mb-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="Enter your email"
              [(ngModel)]="email"
              [ngModelOptions]="{standalone: true}"
              #emailInput="ngModel"
              required
              pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            />
            <mat-error *ngIf="emailInput?.invalid && emailInput?.touched">
              <span >Invalid email format!</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="mb-2 position-relative">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="passwordFieldType"
              placeholder="Enter your password"
              required
              id="password"
              [(ngModel)]="password"
              [ngModelOptions]="{standalone: true}"
            />
          </mat-form-field>
        </div>

        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="form-check d-flex align-items-center">
            <input
              type="checkbox"
              class="form-check-input me-2 mb-1"
              id="rememberMe"
            />
            <label for="rememberMe" class="form-check-label">Remember me</label>
          </div>
          <a class="text-secondary" routerLink='/verification' >Forgot password?</a>
        </div>
        <button
          mat-raised-button
          color="primary"
          class="d-flex btn-shadow py-4 rounded w-100 d-flex justify-content-center align-items-center"
          type="submit">
          <span class="me-3">Sign In</span>
          <span>
            <img
              src="assets/icons/right-up.png"
              alt="arrow"
              style="width: 20px; height: 20px"
            />
          </span>
        </button>
      </form>
      <div class="text-center my-2">
        <span class="text-muted">OR</span>
      </div>
      <div class="d-grid gap-3">
        <button class="btn border text-color rounded shadow-sm bg-custom align-items-center">
          <i class="fab fa-google"></i> 
          <span class="ms-5">Continue with Google &nbsp;</span> 
        </button>
        <button class="btn border text-color rounded py-3 shadow-sm bg-custom align-items-center">
          <i class="fab fa-facebook"></i> 
          <span class="ms-5">Continue with Facebook </span>  
        </button>
        <button class="btn border text-color rounded py-3 shadow-sm bg-custom align-items-center">
          <i class="fab fa-apple"></i> 
          <span class="ms-5">Continue with Apple &nbsp;&nbsp;&nbsp;</span>
        </button>
      </div>
      <p class="text-center mt-4 text-muted">
        Not signed up? <a routerLink='/register' class="text-primary">Create an account</a>.
      </p>
    </div>
    <div class="col-lg-6 d-none d-lg-block pe-5" id="left">
      <h1 class="display-4 fw-bold text-light custom-header-text">
        Your Trusted Partner<br />
        in Property Solutions
      </h1>
    </div>
  </div>
</div>
