<div
  class="container-fluid vh-100 d-flex align-items-center justify-content-center"
>
  <a class="home-btn d-flex align-items-center" routerLink="/home">
    <i class="fas fa-home me-2"></i> Home
  </a>
  <div class="row w-100 align-items-center justify-content-center px-3">
    <!-- Left Section: Login Form -->
    <div
      class="col-lg-4 col-md-6 col-sm-10 bg-white text-dark rounded-2 shadow-lg login-card"
    >
      <div class="text-center mb-2">
        <img src="assets/icons/logo.png" alt="Logo" height="50" />
      </div>
      <h5 class="text-center fw-bold text-weight-800">Sign in</h5>
      <p class="text-muted text-center">
        Sign in with your account to continue.
      </p>
      <form>
        <div class="mb-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="Enter your email"
              required
            />
          </mat-form-field>
        </div>

        <div class="mb-2 position-relative">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="passwordFieldType"
              placeholder="Enter your password"
              required
              id="password"
            />
            <i
              class="eye-icon fa"
              [ngClass]="eyeIcon"
              (click)="togglePasswordVisibility()"
            ></i>
          </mat-form-field>
        </div>

        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" />
            <label for="rememberMe" class="form-check-label">Remember me</label>
          </div>
          <a href="#" class="text-primary">Forgot password?</a>
        </div>
        <button
          mat-raised-button
          color="primary"
          class="btn btn-primary w-100 py-2 rounded fw-bold btn-shadow"
        >
          Sign In
        </button>
      </form>
      <div class="text-center my-2">
        <span class="text-muted">OR</span>
      </div>
      <div class="d-grid gap-3">
        <button class="btn border text-primary rounded py-2 shadow-sm">
          <i class="fab fa-google me-2"></i> Continue with Google
        </button>
        <button class="btn border text-primary rounded py-2 shadow-sm">
          <i class="fab fa-facebook me-2"></i> Continue with Facebook
        </button>
        <button class="btn border text-primary rounded py-2 shadow-sm">
          <i class="fab fa-apple me-2"></i> Continue with Apple
        </button>
      </div>
      <p class="text-center mt-4 text-muted">
        Not signed up? <a href="#" class="text-primary">Create an account</a>.
      </p>
    </div>

    <!-- Right Section: Header Text -->
    <div class="col-lg-6 d-none d-lg-block pe-5">
      <h1 class="display-4 fw-bold text-light custom-header-text ms-5">
        Your Trusted Partner<br />
        in Property Solutions
      </h1>
    </div>
  </div>
</div>
