<div
  class="verification-container d-flex align-items-center justify-content-center vh-100"
>
  <div
    class="card p-4 shadow-lg text-center rounded-4"
    style="width: 50%; background: linear-gradient(135deg, #ffffff, #f1f1f1)"
  >
    <div class="d-flex justify-content-center align-items-center mb-4">
      <img
        src="assets/icons/logo.png"
        alt="Aqarists Logo"
        height="60"
        class="me-3"
      />
      <hr
        style="
          border: none;
          border-left: 4px solid #bcbcbc;
          height: 40px;
          margin: 0 30px;
        "
      />
      <img src="assets/images/nafah.png " alt="Nafath Logo" height="60" />
    </div>
    <h3
      class="display-4 mt-4"
      style="
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: rgba(31, 72, 127, 1);
        font-size: 1.8rem;
      "
    >
      Nafah Verification
    </h3>
    <p
      class="mb-4"
      style="
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
        color: rgba(142, 142, 142, 1);
        line-height: 0.4rem;
      "
    >
      Please pick this number white do Verification
    </p>
    <div class="d-flex justify-content-center align-items-center mt-3">
      <h1 class="custom-heading display-3 mb-3 rounded-3">40</h1>
    </div>
    <p
      class="text-muted"
      style="
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
        line-height: 2rem;
      "
    >
      01:00
    </p>
    <div class="text-center">
      <button
        mat-raised-button
        color="primary"
        class="btn btn-primary text-white w-50 rounded align-items-center"
        style="
          padding: 10px 20px;
          font-size: 1.1rem;
          font-family: 'Poppins', sans-serif;
          color: rgba(31, 72, 127, 1);
          line-height: 2rem;
        "
      >
        Verify
      </button>
    </div>
  </div>
</div>
