<app-header></app-header>
<div style="background: #f7f7f7">
  <div class="container">
    <div class="row">
      <div class="container mt-4">
        <div class="row align-items-center">
          <div class="col-md-9 col-12">
            <div class="d-flex align-items-center flex-wrap">
              <h2 class="fs-2 fw-semibold text-dark text-start mb-0">
                Awesome Interior Apartment
              </h2>
              <button
                class="py-2 px-2 btn btn-primary ms-md-3 mt-2 mt-md-0 d-flex align-items-center"
                routerLink="/compare-properties-detail"
              >
                <i class="fa fa-building me-2"></i> Compare Property
              </button>
            </div>
            <p class="gray mb-0">
              4834 N 10th St, Philadelphia, PA 19141
              <span class="mx-2">|</span>
              <span class="badge text-primary px-2 py-1">
                <li>For sale</li>
              </span>
              <span class="mx-2">|</span>
              <span><i class="material-icons">schedule</i> 1 year ago</span>
              <span class="mx-2">|</span>
              <span><i class="material-icons">visibility</i> 8721</span>
            </p>
            <p class="mt-3">
              <span><i class="material-icons">bed</i> 3 bed</span>
              <span class="mx-2"
                ><i class="material-icons">bathtub</i> 4 bath</span
              >
              <span class="mx-2"
                ><i class="material-icons">square_foot</i> 1200 sqft</span
              >
            </p>
          </div>
          <div class="col-md-3 col-12 text-end mt-3 mt-md-0">
            <div class="d-flex justify-content-end gap-2 mb-2">
              <button mat-icon-button class="btn btn-outline-primary">
                <i class="material-icons border py-2 px-2 rounded">favorite</i>
              </button>
              <button mat-icon-button class="btn btn-outline-primary">
                <i class="material-icons">share</i>
              </button>
              <button mat-icon-button class="btn btn-outline-primary">
                <i class="material-icons">file_copy</i>
              </button>
            </div>
            <h2 class="fw-bold text-dark">SAR 958,000</h2>
            <p class="gray">SAR 2,300/SqFT</p>
          </div>
        </div>
      </div>
      <div class="container mt-2">
        <div class="row ms-2 gx-4 gy-3">
          <div class="col-lg-6 col-md-12">
            <div class="main-image">
              <img
                src="assets/images/interior-image1.png"
                alt="Main Building"
                class="img-fluid rounded shadow-sm"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-12 d-flex flex-column">
            <div class="row flex-grow-1 gx-1 gy-1">
              <div class="col-6 col-sm-6 d-flex align-items-stretch">
                <img
                  src="assets/images/interior-image2.png"
                  alt="Interior 1"
                  class="img-fluid rounded shadow-sm side-image"
                />
              </div>
              <div class="col-6 col-sm-6 d-flex align-items-stretch">
                <img
                  src="assets/images/interior-image3.png"
                  alt="Interior 2"
                  class="img-fluid rounded shadow-sm side-image"
                />
              </div>
              <div class="col-6 col-sm-6 d-flex align-items-stretch">
                <img
                  src="assets/images/interior-image4.png"
                  alt="Interior 3"
                  class="img-fluid rounded shadow-sm side-image"
                />
              </div>
              <div class="col-6 col-sm-6 d-flex align-items-stretch">
                <img
                  src="assets/images/interior-image5.png"
                  alt="Interior 4"
                  class="img-fluid rounded shadow-sm side-image"
                />
                <div class="see-all">
                  <button mat-button class="see-more-btn btn px-2 py-3">
                    See All 74 photos
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-9 mt-5 rounded">
          <div class="card border-0 p-4">
            <h3 class="mb-4 text-start fw-bold">Overview</h3>
            <div class="row text-center">
              <div class="col-6 col-md-4 mb-3">
                <div class="d-flex align-items-center">
                  <i
                    class="fas fa-bed fa-2x text-primary border py-2 px-2 rounded"
                  ></i>
                  <div class="text-start ms-1">
                    <span class="fw-bold d-block">Bedroom</span>
                    <span class="gray">3</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-3">
                <div class="d-flex align-items-center">
                  <i
                    class="fas fa-bath fa-2x text-primary mb-2 border py-2 px-2 rounded"
                  ></i>
                  <div class="text-start ms-1">
                    <span class="fw-bold d-block">Bath</span>
                    <span class="gray">2</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-3">
                <div class="d-flex align-items-center">
                  <i
                    class="fas fa-calendar-alt fa-2x text-primary mb-2 border py-2 px-2 rounded"
                  ></i>
                  <div class="text-start ms-1">
                    <span class="fw-bold d-block">Year built</span>
                    <span class="gray">2022</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-3">
                <div class="d-flex align-items-center">
                  <i
                    class="fas fa-warehouse fa-2x text-primary mb-2 border py-2 px-2 rounded"
                  ></i>
                  <div class="text-start ms-1">
                    <span class="fw-bold d-block">Garage</span>
                    <span class="gray">2</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-3">
                <div class="d-flex align-items-center">
                  <i
                    class="fas fa-expand-arrows-alt fa-2x text-primary mb-2 border py-2 px-2 rounded"
                  ></i>
                  <div class="text-start ms-1">
                    <span class="fw-bold d-block">SQFT</span>
                    <span class="gray">1200</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 mb-3">
                <div class="d-flex align-items-center">
                  <i
                    class="fas fa-home fa-2x text-primary mb-2 border py-2 px-2 rounded"
                  ></i>
                  <div class="ms-3 text-start">
                    <span class="fw-bold d-block">Property Type</span>
                    <span class="gray">Apartment</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 mt-5">
          <button
            class="btn btn-primary text-white d-block w-100 rounded-4 shadow-sm py-3 mb-3"
            (click)="openWhatsApp()"
          >
            Chat on WhatsApp
          </button>
          <button
            class="btn btn-primary text-white d-block w-100 rounded-4 shadow-sm py-3"
            (click)="openApp()"
          >
            Chat on App
          </button>
        </div>
      </div>
      <div class="col-12 col-lg-8 my-4">
        <div class="card border-0 shadow-sm p-4 mb-4 rounded">
          <h4 class="fw-bold mb-3">Property Description</h4>
          <p class="text-muted">
            This 3-bed with a loft, 2-bath home in the gated community of The
            Hideout has it all. From the open floor plan to the abundance of
            light from the windows, this home is perfect for entertaining. The
            living room and dining room have vaulted ceilings and a beautiful
            fireplace. You will love spending time on the deck taking in the
            beautiful views. In the kitchen, you'll find stainless steel
            appliances and a tile backsplash, as well as a breakfast bar.
          </p>
          <a href="#" class="text-primary fw-bold">Show more</a>
          <div class="card border-0 py-4">
            <h4 class="fw-bold mb-4">Property Details</h4>
            <div class="row py-3">
              <div class="col-12 col-md-6">
                <div class="mb-3">
                  <span class="fw-bold">Property ID: </span>
                  <span class="text-muted text-start ms-2">RTK87</span>
                </div>
                <div class="mb-3">
                  <span class="fw-bold">Price: </span>
                  <span class="text-muted text-start ms-2">SAR 252,000</span>
                </div>
                <div class="mb-3">
                  <span class="fw-bold">Property Size: </span>
                  <span class="text-muted ms-2">1500 Sq Ft</span>
                </div>
                <div class="mb-3">
                  <span class="fw-bold">Bathrooms: </span>
                  <span class="text-muted ms-2">3</span>
                </div>
                <div class="mb-3">
                  <span class="fw-bold">Bedrooms: </span>
                  <span class="text-muted ms-2">2</span>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="mb-3">
                  <span class="fw-bold">Garage: </span>
                  <span class="text-muted ms-2">2</span>
                </div>
                <div class="mb-3">
                  <span class="fw-bold">Garage Size: </span>
                  <span class="text-muted ms-2">200 SqFt</span>
                </div>
                <div class="mb-3">
                  <span class="fw-bold">Year Built: </span>
                  <span class="text-muted ms-2">2022</span>
                </div>
                <div class="mb-3">
                  <span class="fw-bold">Property Type: </span>
                  <span class="text-muted ms-2">Apartment</span>
                </div>
                <div class="mb-3">
                  <span class="fw-bold">Property Status: </span>
                  <span class="text-muted ms-2">For Sale</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8 mt-2">
        <div class="card border-0 shadow-sm p-4 rounded">
          <h4 class="fw-bold mb-4">Address</h4>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <span class="fw-bold">Address:</span>
                <span class="text-muted ms-2">10425 Tabor St</span>
              </div>
              <div class="mb-3">
                <span class="fw-bold">City:</span>
                <span class="text-muted ms-2">Riyadh</span>
              </div>
              <div class="mb-3">
                <span class="fw-bold">State/County:</span>
                <span class="text-muted ms-2">Saudia</span>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <span class="fw-bold">Zip/Postal Code:</span>
                <span class="text-muted ms-2">00000</span>
              </div>
              <div class="mb-3">
                <span class="fw-bold">Area:</span>
                <span class="text-muted ms-2">Brookside</span>
              </div>
              <div class="mb-3">
                <span class="fw-bold">Country:</span>
                <span class="text-muted ms-2">Saudia</span>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <div class="position-relative">
              <iframe
                class="w-100 rounded-4 shadow-sm"
                style="border: none; height: 300px"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                src="https://maps.google.com/maps?width=1920&amp;height=500&amp;hl=en&amp;q=madina&amp;t=&amp;z=19&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
              ></iframe>
              <a
                href="https://www.google.com/maps?q=madina"
                target="_blank"
                class="btn bg-white text-primary position-absolute"
                style="top: 20px; right: 20px"
              >
                Open on Google Maps <i class="bi bi-box-arrow-up-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8 my-4 rounded">
        <div class="card p-4 border-0">
          <h3 class="fw-bold">Features & Amenities</h3>
          <div class="row">
            <div class="col-12 col-md-4">
              <ul class="list">
                <li><i class="bi bi-dot text-primary"></i> Air Conditioning</li>
                <li><i class="bi bi-dot text-primary"></i> Barbeque</li>
                <li><i class="bi bi-dot text-primary"></i> Dryer</li>
                <li><i class="bi bi-dot text-primary"></i> Gym</li>
              </ul>
            </div>
            <div class="col-12 col-md-4">
              <ul class="list">
                <li><i class="bi bi-dot text-primary"></i> Lawn</li>
                <li><i class="bi bi-dot text-primary"></i> Microwave</li>
                <li><i class="bi bi-dot text-primary"></i> Outdoor Shower</li>
                <li><i class="bi bi-dot text-primary"></i> Refrigerator</li>
              </ul>
            </div>
            <div class="col-12 col-md-4">
              <ul class="list">
                <li><i class="bi bi-dot text-primary"></i> Swimming Pool</li>
                <li><i class="bi bi-dot text-primary"></i> TV Cable</li>
                <li><i class="bi bi-dot text-primary"></i> Washer</li>
                <li><i class="bi bi-dot text-primary"></i> WiFi</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8 my-3 rounded">
        <div class="card p-4 border-0">
          <h3 class="fw-bold mb-4">Floor Plans</h3>
          <div
            *ngFor="let floor of floorPlans; let i = index"
            class="border-bottom pb-3 mb-3"
          >
            <div
              class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center"
            >
              <button
                class="btn btn-link text-decoration-none p-0 fw-bold text-start"
                type="button"
                (click)="toggleDetails(floor)"
              >
                <i
                  *ngIf="i === 0"
                  [class.bi-star-fill]="floor.isOpen"
                  [class.bi-star]="!floor.isOpen"
                  class="bi me-2"
                ></i>
                <i
                  *ngIf="i !== 0"
                  [class.bi-caret-down-fill]="!floor.isOpen"
                  [class.bi-caret-up-fill]="floor.isOpen"
                  class="bi me-2"
                ></i>
                {{ floor.name }}
              </button>
              <div class="d-flex flex-wrap text-start mt-2 mt-md-0">
                <div class="me-3">
                  <span class="fw-bold">Size:</span> {{ floor.size }}
                </div>
                <div class="me-3">
                  <span class="fw-bold">Bedrooms:</span> {{ floor.bedrooms }}
                </div>
                <div class="me-3">
                  <span class="fw-bold">Bathrooms:</span> {{ floor.bathrooms }}
                </div>
                <div><span class="fw-bold">Price:</span> {{ floor.price }}</div>
              </div>
            </div>
            <div *ngIf="floor.isOpen" class="mt-3">
              <img
                [src]="floor.image"
                alt="Floor Plan Image"
                class="img-fluid rounded shadow-sm"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8 my-2">
        <h3 class="fw-bold ms-2">Video</h3>
        <div class="card border-0">
          <div class="position-relative rounded overflow-hidden shadow">
            <video
              #videoPlayer
              [src]="videoSource"
              class="img-fluid w-100"
              (click)="toggleVideo(videoPlayer)"
              style="cursor: pointer"
            ></video>
            <div
              *ngIf="!isPlaying"
              class="position-absolute top-50 start-50 translate-middle"
              (click)="toggleVideo(videoPlayer)"
              style="cursor: pointer"
            >
              <mat-icon
                class="play-button bg-white text-primary rounded-circle d-flex align-items-center justify-content-center shadow"
                style="font-size: 48px; width: 80px; height: 80px"
              >
                play_arrow
              </mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8 py-4">
        <div class="card border-0 p-4">
          <h3 class="fw-bold mb-4">What's Nearby?</h3>
          <mat-tab-group>
            <mat-tab label="Education">
              <div class="list-group my-3">
                <div
                  class="list-group-item d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center border-0"
                >
                  <div class="d-flex">
                    <div class="rating-circle text-yellow border-yellow me-3">
                      <span>4/10</span>
                    </div>
                    <div>
                      <h4 class="mb-1 fw-bold">
                        South Londonderry Elementary School
                      </h4>
                      <p class="gray mb-0">
                        Grades: PK-6 &nbsp; | &nbsp; Distance: 3.7 mi
                      </p>
                    </div>
                  </div>
                  <div class="mt-2 mt-md-0">
                    <mat-icon class="text-warning">star</mat-icon>
                    <mat-icon class="text-warning">star</mat-icon>
                    <mat-icon class="text-warning">star</mat-icon>
                    <mat-icon class="text-warning">star</mat-icon>
                    <mat-icon class="text-warning">star_half</mat-icon>
                  </div>
                </div>
                <div
                  class="list-group-item d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center border-0"
                >
                  <div class="d-flex">
                    <div class="rating-circle text-blue me-3 border-yellow">
                      <span>5/10</span>
                    </div>
                    <div>
                      <h4 class="mb-1 fw-bold">
                        Londonderry Senior High School
                      </h4>
                      <p class="gray mb-0">
                        Grades: PK-6 &nbsp; | &nbsp; Distance: 3.7 mi
                      </p>
                    </div>
                  </div>
                  <div class="mt-2 mt-md-0">
                    <mat-icon class="text-warning">star</mat-icon>
                    <mat-icon class="text-warning">star</mat-icon>
                    <mat-icon class="text-warning">star</mat-icon>
                    <mat-icon class="text-warning">star</mat-icon>
                    <mat-icon class="text-warning">star_half</mat-icon>
                  </div>
                </div>
                <div
                  class="list-group-item d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center border-0"
                >
                  <div class="d-flex">
                    <div class="rating-circle text-red me-3 border-red">
                      <span>6/10</span>
                    </div>
                    <div>
                      <h4 class="mb-1 fw-bold">Londonderry Middle School</h4>
                      <p class="gray mb-0">
                        Grades: PK-6 &nbsp; | &nbsp; Distance: 3.7 mi
                      </p>
                    </div>
                  </div>
                  <div class="mt-2 mt-md-0">
                    <mat-icon class="text-warning">star</mat-icon>
                    <mat-icon class="text-warning">star</mat-icon>
                    <mat-icon class="text-warning">star</mat-icon>
                    <mat-icon class="text-warning">star</mat-icon>
                    <mat-icon class="text-warning">star_half</mat-icon>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Health & Medical">
              <p class="text-center gray my-3">Coming Soon...</p>
            </mat-tab>
            <mat-tab label="Transportation">
              <p class="text-center gray my-3">Coming Soon...</p>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="reviews-section col-12 col-lg-8 my-4 rounded">
        <div class="card border-0 p-4">
          <div
            class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3"
          >
            <span class="fw-bold">★ 5.0 · 3 reviews</span>
            <select class="form-select w-auto mt-3 mt-md-0">
              <option>Sort by Newest</option>
            </select>
          </div>
          <div *ngFor="let review of reviews" class="mb-4 mt-4">
            <div class="card-body">
              <div
                class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center"
              >
                <div class="d-flex align-items-start align-items-md-center">
                  <div
                    class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-white"
                    style="width: 40px; height: 40px; font-size: 20px"
                  >
                    A.T
                  </div>

                  <div class="ms-3">
                    <p class="fw-semibold mb-0 text-start">{{ review.name }}</p>
                    <p
                      class="card-text text-muted text-start"
                      style="font-size: 12px"
                    >
                      {{ review.date }}
                    </p>
                  </div>
                </div>
                <span class="text-warning mt-2 mt-md-0">★★★★★</span>
              </div>
            </div>
            <p class="card-text mt-3">{{ review.text }}</p>
            <div *ngIf="review.images" class="d-flex flex-wrap">
              <img
                *ngFor="let img of review.images"
                [src]="img"
                class="img-thumbnail me-2 mb-2"
                style="width: 80px; height: 80px"
                alt="Review image"
              />
            </div>
            <div class="d-flex flex-wrap mt-2">
              <button class="btn btn-sm me-2">
                <i class="fa-solid fa-thumbs-up me-2"></i>Helpful
              </button>
              <button class="btn btn-sm">
                <i class="fa-solid fa-thumbs-up fa-rotate-180 me-2"></i>Not
                helpful
              </button>
            </div>
            <hr />
          </div>
          <button
            mat-stroked-button
            class="d-flex btn-shadow py-4 rounded-4 justify-content-center align-items-center mx-2 text-primary w-100"
          >
            <span class="me-3">Show all 134 reviews</span>
            <span>
              <img
                src="assets/icons/right-up1.png"
                alt="arrow"
                style="width: 20px; height: 20px"
              />
            </span>
          </button>
        </div>
      </div>
      <div class="col-12 col-lg-8 my-4 rounded">
        <div class="card border-0 p-4">
          <h4 class="mt-4 fw-bold">Leave A Review</h4>
          <form>
            <div class="mb-3">
              <input
                type="email"
                class="form-control p-3"
                placeholder="Email"
              />
            </div>
            <div class="mb-3 d-flex flex-column flex-md-row gap-3">
              <input type="text" class="form-control p-3" placeholder="Title" />
              <select class="form-select p-3">
                <option>Select Rating</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="mb-3">
              <textarea
                class="form-control"
                rows="5"
                placeholder="Write a Review"
              ></textarea>
            </div>
            <button
              mat-stroked-button
              class="d-flex btn-shadow py-4 rounded-4 justify-content-center align-items-center mx-2 text-primary w-100"
            >
              <span class="me-3">Submit Review</span>
              <span>
                <img
                  src="assets/icons/right-up1.png"
                  alt="arrow"
                  style="width: 20px; height: 20px"
                />
              </span>
            </button>
          </form>
        </div>
      </div>
      <div class="mb-3 my-5">
        <h2 class="fw-bold text-dark">Nearby Similar Homes</h2>
        <p class="gray">Lorem ipsum dolor sit amet.</p>
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-secondary me-4" (click)="previous()">
            &#8592;
          </button>
          <button class="btn btn-outline-secondary" (click)="next()">
            &#8594;
          </button>
        </div>
      </div>
      <div class="col-12 sale-card rounded">
        <div class="row">
          <div
            *ngFor="let property of properties; let i = index"
            class="col-12 col-md-6 col-lg-4 mb-4"
          >
            <div class="card card-flex">
              <img
                [src]="property.image"
                class="card-img-top img-fluid"
                alt="Property Image"
              />
              <div class="card-body">
                <h5 class="card-title text-start">{{ property.name }}</h5>
                <p class="card-text text-start">{{ property.location }}</p>
                <div class="d-flex flex-wrap gap-3">
                  <span><i class="fas fa-bed"></i> {{ property.bed }} bed</span>
                  <span
                    ><i class="fas fa-bath"></i> {{ property.bath }} bath</span
                  >
                  <span
                    ><i class="fas fa-expand"></i>
                    {{ property.size }} sqft</span
                  >
                </div>
                <div class="property-price">
                  <p class="mt-3">SAR {{ property.price }} / mo</p>
                </div>
                <hr style="border: 1px solid #dddddd" />
                <div class="d-flex justify-content-between align-items-center">
                  <a href="#" class="btn btn-primary">For Sell</a>
                  <div class="d-flex gap-2">
                    <i class="fa-solid fa-arrow-up-right-from-square fa-lg"></i>
                    <i class="fa-regular fa-clone fa-lg"></i>
                    <i class="fa-regular fa-heart fa-lg"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
