.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.primary-circle {
    background-color: #002F6D;
}

.gray-circle {
    background-color: #002F6D4D;
}

.statistics {
    width: 30% !important;
}