.btn-toggle {
  transition: all 0.1s ease;
  background-color: #ebebeb !important;
  border: none !important;
  width: 17% !important;
}
.btn-toggle.active {
  background-color: #023c88 !important;
  color: white;
}

.btn-toggle:hover {
  background-color: #023c88 !important;
  color: white !important;
}

::ng-deep .paginator .mat-mdc-paginator-range-label {
  top: 0px !important;
  left: 0px !important;
}

table {
  width: 100%;
}
