@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap');


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  h1{
    font-family: "Poppins",serif !important;
  }

  h2{
    font-family: "Poppins",serif !important;
  }

  h3 {
    font-family: "Poppins", serif !important;
  }

  h4 {
    font-family: "Poppins", serif !important;
  }

  h5 {
    font-family: "Poppins", serif !important;
  }

  h6 {
    font-family: "Poppins", serif !important;
  }
  small{
    font-family: "Poppins",serif !important;
  }

  .btn-primary {
    background-color: #002F6D;
    color: white;
    border: none;

  }

  .btn-primary:hover {
    background-color: #023c88;
  }

  p {
    font-family: 'Poppins' !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px !important;
  }

  .custom-header-text {
    font-family: "Alice", serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 1.2;
    color: white;
    margin-right: 2rem;
    margin-left: 140px;
  }

  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgba(1, 90, 208, 0.9), rgba(0, 47, 109, 0.9)),
      url('assets/images/background_img.png');
    background-size: cover;
  }


  .login-card {
    background: linear-gradient(to bottom, #ffffff, #f8f9fa);
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .home-btn {
    position: absolute;
    top: 30px;
    right: 40px;
    background: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #002F6D;
    display: inline-flex;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .home-btn i {
    font-size: 16px;
    color: #002F6D;
  }

  .home-btn:hover {
    background: #002F6D;
    color: white;
  }

  .home-btn:hover i {
    color: white;
  }

  .text-color {
    color: rgba(0, 47, 109, 1);
  }

  .bg-custom {
    padding: 12px 12px;
  }

  .hover-bg-custom:hover {
    background: rgba(0, 47, 109, 1) !important;
    color: white;
  }

  .mat-mdc-raised-button:not(:disabled) {
    background: #002F6D;
  }

  .form-check-input:checked {
    background-color: #002F6D;
    border-color: #002F6D;
  }

  .text-primary {
    color: #002F6D !important;
  }

  .text-secondary {
    color: #181A20 !important;
  }

  a {
    text-decoration: none !important;
  }

  .gray {
    color: #717171;
  }

  .g-bubble-container {
    display: flex;
    gap: 31px;
    padding: 17px !important;
  }

  .g-bubble {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
  }

  .g-bubble:hover {
    background-color: #b6b6b6;
    color: white;
  }

  .g-bubble__active {
    background-color: #002F6D;
    color: white;
  }

  mat-paginator {
    background: transparent !important;
  }

  .mat-mdc-paginator-range-label {
    position: relative !important;
    top: 35px !important;
    left: 50% !important;
    color: black !important;
  }

  @media (max-width: 576px) {
    .home-btn {
      position: relative !important;
      right: auto !important;
      top: auto !important;
    }
  }

  @media (max-width: 768px) {
    .mat-mdc-paginator-range-actions {
      position: relative !important;
      right: 40% !important;
    }

    .main-card {
      display: block !important;
    }

    .g-bubble-container {
      display: flex;
      gap: 0px !important;
      padding: 0px !important;
    }
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
  }

  
  .form-control:focus,
  .form-select:focus {
    border: 2px solid #181A20 !important;
    box-shadow: 0px 6px 15px 0px rgba(24, 26, 32, 0.05) !important;
  }

  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: rgba(24, 26, 32, 1) !important;
    font-weight: 700 !important;
}

.mat-mdc-header-row{
  background-color: #EBEBEB !important;
  border-radius: 12px 12px 0 0 !important; 
}

}

.color-white {
  color: white;
}